<!DOCTYPE html>
<html lang= 'es' style='height: 100%;'>
<head>
    <title>Covid19NewsChile</title>
    {% load  static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" >
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</head>
<body class="blue lighten-5">   
  <nav class="black">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Covid19 NewsChile</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'index' %}">Covid19</a></li>
        <li class="active grey darken-3"><a href="">Autocuidados</a></li>
        <li><a href="{% url 'Origen' %}">Origen Covid19</a></li>
        <li><a href="{% url 'fuentes' %}">Fuentes</a></li>
      </ul>
    </div>
  </nav>
    <div class="container">
      <div class="row text-align: center">
        <div class="col s12">
          <h1>¿Cuales son las recomendaciones para cuidarse del Covid19?</h1>
        </div>
          <div class="col s6">
            <h4>Prevenciones</h4>
            <img src="{% static 'img/img1.jpeg' %}"/>
          </div>
          <div class="col s6">
            <h4>Sintomas</h4>
            <img src="{% static 'img/img2.jpeg' %}" height="1280px"/>
          </div>
      </div>
    </div>
</body>
<footer class="page-footer"; style="background-color: black;">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contactanos</h5>
        <p class="grey-text text-lighten-4">covid19newschile@gmail.com</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contenido</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="{% url 'index' %}">Contagios</a></li>
          <li><a class="grey-text text-lighten-3" href="{% url 'Autocuidados' %}">Autocuidados</a></li>
          <li><a class="grey-text text-lighten-3" href="{% url 'Origen' %}">Origen Covid19</a></li>
          <li><a class="grey-text text-lighten-3" href="{% url 'fuentes' %}">Fuentes</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2020 Covid19NewsChile
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
</html>