{% load  static %}
<!DOCTYPE html>
<html lang= 'es' style='height: 100%;'>
<head>
    <title>Covid19NewsChile</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" >
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</head>
<body class="blue lighten-5">   
  <nav class="black">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Covid19 NewsChile</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li ><a href="{% url 'index' %}">Covid19</a></li>
        <li><a href="{% url 'Autocuidados' %}">Autocuidados</a></li>
        <li><a href="{% url 'Origen' %}">Origen Covid19</a></li>
        <li class="active grey darken-3"><a href="">Fuentes</a></li>
      </ul>
    </div>
  </nav>
{% block container %}
{% endblock %}
