<!DOCTYPE html>
<html lang= 'es' style='height: 100%;'>
<head>
    <title>Covid19NewsChile</title>
    {% load  static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" >
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</head>
<body class="blue lighten-5">   
  <nav class="black">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Covid19 NewsChile</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="active grey darken-3"><a href="">Contagios</a></li>
        <li><a href="{% url 'Autocuidados' %}">Autocuidados</a></li>
        <li><a href="{% url 'Origen' %}">Origen Covid19</a></li>
      </ul>
    </div>
  </nav>
    <div class="container">
      <div class="row">
          <div class="col s12 cyan darken-4">
            <h3 style="text-align: center; color:white">Corona Virus</h3>
            <h6 style="text-align: center;color:white">El brote de coronavirus ha sido ampliamente reportado en los noticieros del mundo y la Organización Mundial de la Salud (OMS), lo ha declarado oficialmente como una pandemia, desde el pasado 11 de marzo.

                Los coronavirus son causantes de enfermedades que van desde el resfriado común hasta enfermedades más graves, como Insuficiencia Respiratoria Aguda Grave. Específicamente, el COVID-19, puede afectar de distintas maneras a cada persona. La mayoría de las personas que se contagian presentan síntomas de intensidad leve o moderada, y se recuperan sin necesidad de hospitalización.
            </h6>
          </div>
          <div>
            <br>
            <h3 style="text-align: center;">Contagio</h3>
          </div>  
          <p>El virus se transmite de persona a persona cuando tiene contacto cercano con un enfermo. Por ejemplo, al vivir bajo el mismo techo, compartir la misma sala en un hospital, viajar por varias horas en un mismo medio de transporte, o cuidar a un enfermo sin la debida medida de protección. Por ser una enfermedad de tipo respiratoria, se transmite a través de gotitas provenientes de la tos y los estornudos.</p>
             <div>
            <h3 style="text-align: center;">Tratamiento, la problematica mundial</h3>
          </div>  
          <p>No existe en la actualidad tratamiento específico. El tratamiento es solo de apoyo y depende del estado clínico del paciente y está orientado a aliviar los síntomas.</p>
          <div>
            <h3 style="text-align: center;">¡Evitar el contagio es tarea de todos!</h3>
          </div>  
          <p> Es importante cubrirse con pañuelo desechable (nunca con la mano) la nariz y la boca al estornudar o toser. De la misma manera, el lavado de manos frecuente es muy importante para evitar el contagio</p>
          <img src="{% static 'img/coronao.jpg' %}" />
      </div>
    </div>
</body>
</html>