<!DOCTYPE html>
<html lang= 'es' style='height: 100%;'>
<head>
    <title>Covid19NewsChile</title>
    {% load  static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" >
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</head>
<body class="blue lighten-5">   
  <nav class="black">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Covid19 NewsChile</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li ><a href="{% url 'index' %}">Covid19</a></li>
        <li><a href="{% url 'Autocuidados' %}">Autocuidados</a></li>
        <li class="active grey darken-3"><a href="">Origen Covid19</a></li>
        <li><a href="{% url 'fuentes' %}">Fuentes</a></li>
      </ul>
    </div>
  </nav>
    <div class="container">
      <div class="row">
          <div class="col s12">
            <h1 style="text-align: center;"></h1>
          </div>
          <u><h4>historia sobre la evolucion del covid-19:</h4></u> 
<p><b>31.12.2019</b> China notificó a la OMS sobre sobre una misteriosa neumonia Wuhan.  </p>
<p><b>07.01.2020</b> Científicos chinos identificaron un nuevo virus. Llamado provisionalmente 2019-nCoV y posteriormente Sars-Cov-2 </p>
<p><b>11.01.2020</b> China anunció la primera muerte causada por el nuevo coronavirus. Un hombre de 61 años, que había estado comprando en el mercado de mariscos de Wuhan, murió de complicaciones por neumonía.</p>
<p><b>20.01.2020</b> entre estas fechas, Tailandia y el Japón comenzaron a notificar casos de infecciones en personas que habían visitado el mismo mercado en Wuhan. En la ciudad china, se confirma la segunda muerte.Se confirma que el virus puede transmitirse directamente entre persona.</p>
<p><b>23.01.2020</b> Wuhan fue puesto en cuarentena como medida de precuasion. Se suspendió el transporte público y se comienza a construir un nuevo hospital para tratar a los pacientes infectados, que sumaban más de 830 el 24 de enero. El número de muertos se había elevado a 26. El aislamiento se extendió a otras 13 ciudades, afectando a 36 millones de personas.</p>
<p><b>24.01.2020</b> Autoridades francesas confirmaron tres nuevos casos de coronavirus en sus fronteras, marcando la llegada del virus a Europa. Luego, Australia confirmó 4 personas infectadas.</p>
<p><b>27.01.2020</b> Se detectó el primer caso en Alemania. Investigadores alemanes trabajan en una posible vacuna.</p>
<p><b>28.01.2020</b> El número de muertes en todo el mundo seperó las 100 personas, y la cantidad de infectados llegó a casi 4.500 personas.</p>
<p><b>30.01.2020</b> OMS declara emergencia de salud pública, con 7.800 casos confirmados en 20 países del mundo.</p>
<p><b>02.02.2020</b> Filipinas informa sobre un hombre de 44 años que habia muerto en el país por corona virus. Fue la primera muerte fuera de China.</p>
<p><b>07.02.2020</b> El doctor chino Li Wenliang muere por corona virus. Meses antes, este medico trató de advertir a las autoridades chinas sobre el virus pero fue obligado a firmar un documento que declaraban sus acusaciones infundadas.</p>
<p><b>14.02.2020</b> Se confirma el primer caso en Egipto, África. Comienza a expandirse por todo el continente africano.</p>
<p><b>23.02.2020</b> Once ciudades italianas fueron aisladas debido a la rápida propagacion del virus. Debido al virus, el tradicional Carnaval de Venecia se cerró antes de lo esperado.</p>
<p><b>26.02.2020</b> Para estas fechas el nuevo virus se habia extendido a mas de 40 países, mató a más de 2.700 e infectó a más de 80.000, y 30.000 recuperados. Brasil confirma el primer caso.</p>
<p><b>28.02.2020</b> La OMS se eleva el grado de alerta de "alto" a "muy alto". Ya habia llegado a mas de 50 naciones el virus.</p>
<p><b>01.03.2020</b> la NASA informa descensos en los niveles de dióxido de nitrógeno en China. Esto demostró una gran disminución de la contaminacion en China. </p>
<p><b>03.03.2020</b> Se confirma el primer caso de covid-19 en Chile (específicamente en Talca). Se trata de un médico de 33 años, con antecedentes de un viaje al sudeste asiático.</p>
<p><b>06.03.2020</b> el número de casos en todo el mundo superó a los 100 mil contagiados. </p>


      </div>
    </div>
</body>
<footer class="page-footer"; style="background-color: black;">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contactanos</h5>
        <p class="grey-text text-lighten-4">covid19newschile@gmail.com</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contenido</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="{% url 'index' %}">Contagios</a></li>
          <li><a class="grey-text text-lighten-3" href="{% url 'Autocuidados' %}">Autocuidados</a></li>
          <li><a class="grey-text text-lighten-3" href="{% url 'Origen' %}">Origen Covid19</a></li>
          <li><a class="grey-text text-lighten-3" href="{% url 'fuentes' %}">Fuentes</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2020 Covid19NewsChile
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
</html>